body {
  font-size: 18px;
  font-family: 'Lato';
  color: #FFE9FF;
  background-color: blueviolet;
}

div {
  padding: 10px;
}

Button {
  margin: 10px;
}

.header {
  text-align: center;
}

.panelButtons {
  text-align: center;
}

.selectPanel {
  text-align: center;
}

.form-control {
  background-color: aqua;
  border-radius: 10px;
}

.form-control:focus {
  background-color: aqua;
}

.modal-content { 
  background-color: blueviolet;
}

.messageApi {
  padding: 20px;
  font-weight: bold;
  font-size: 24px;
}

.alertMessage {
  margin: 10px;
  font-weight: 500;
}

.rightMarginSpan {
  margin-right: 15px;
}

.bothtMarginSpan {
  margin-right: 15px;
  margin-left: 15px;
}

select {
  background-color: aqua;
  border-radius: 10px;
}
